.style-carrusel{
    margin-top: 20px;
    margin-bottom: 50px;
}

.style-carousel{
    background-image: url(https://media.istockphoto.com/vectors/rock-and-roll-patches-collection-vector-id861336248?k=20&m=861336248&s=170667a&w=0&h=O_4Yeq6pLGJ5Lnz58Zkw_-KDWWfOQ9d0cehqJP8F2L8=);
}