.style-img{
    width: 90px;
    height: 90px;
}

.font-style{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.body-table {
    min-height: 60vh; 
}

.style-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.img-body{
    background-image: url(../images/FondoAdmin.webp);
}

.button-flex{
    margin: 3px;
}


@media(max-width:760px){
    .button-flex {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 8px;
        width: 5rem;
    }

    .button-flex button {
        font-size: 14px;
        padding: 5px 10px;
    }

    .style-title{
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
    }

    .style-img{
        width: 60px;
        height: 80px;
    }
    
    .font-style{
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
    }


    
}

@media(max-width:390px){
    .button-flex {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 6px;
    }

    .button-flex button {
        font-size: 10px;
        padding: 5px 6px;
    }

    .style-title{
        font-family: 'Times New Roman', Times, serif;
        font-size: 12px;
    }

    .style-img{
        width: 60px;
        height: 80px;
    }
    
    .font-style{
        font-family: 'Times New Roman', Times, serif;
        font-size: 12px;
    }


    
}


